.mainMenu {
    height: 985px;
    width: 100vw;
    max-width: 1920px;
    background-image: url("./image/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

@media (min-width: 450px) and (max-width: 1400px) {
    .mainMenu {
        height: 25%;
        width: 100vw;
    }
}
.mainMenu_second {
    height: 600px;
    background-image: url("./image/main-search.png");
}