.mainMenu {
    height: 985px;
    width: 100vw;
    max-width: 1920px;
    background-image: url("./image/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.mainMenu_second {
    height: 600px;
    background-image: url("./image/main-search.png");
}