.searchresult {
  background-color: rgb(249, 246, 246);
  padding-top: 100px;
  padding-bottom: 20px;
}
.leftside, .leftsidemax {
    background-color: #3e3c41;
    display: block;
    width: 300px;
    margin-left: 40px;
    color: #E5E5E5;
    font-size: 24px;
    position: relative;
    margin-top: 56px;
}
.leftside {
  height: 950px;
}
.leftsidemax {
  height: 1300px;
}

.textdata {
    padding:  15px 0px 5px 20px;
    font-size: 24px;
}
.fromdata input, .wheredata input {
    background-image: url(./image/calendar.png);
    background-repeat: no-repeat;
    background-position:  right 25px center; 
    background-size: 18px;
    padding-right:  80px; 
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
    color:  #3e3c41;
    display: block;
    border: none;
    border-radius: 3px;
    width: 60%;
    height: 50px;
    margin-left: 20px;
    background-color:  white;
    display: block;
    z-index: 1;
}

.line {
    background-color: white;
    display: flex;
    margin-top: 20px;
    height: 1px;
    border-top: 1px solid #E5E5E5;
}
.filter{
    display: flex;
}

.textfilter {
    font-size: 18px;
    margin-top: 20px;
    width: 100px;
}

.imagefilter__coupe, .imagefilter__placcart, .imagefilter__seat,
.imagefilter__lux, .imagefilter__wifi, .imagefilter__express  {
    width: 22px;
    height: 22px;
    margin: 20px 35px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.imagefilter__coupe {
    background-image: url(./image/coupe.png);
}

.imagefilter__placcart {
    background-image: url(./image/second-class.png);
}
.imagefilter__seat {
    background-image: url(./image/fourth.png);
}
.imagefilter__lux {
    background-image: url(./image/first-class.png);
}
.imagefilter__wifi {
    background-image: url(./image/have-wifi.png);
}
.imagefilter__express {
    background-image: url(./image/express.png);
}


.switch {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px; 
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s; /* Smooth transition */
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px; 
    width: 16px; 
    left: 2px;  
    bottom: 2px; 
    background-color: white; 
    transition: .4s; 
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ffa800; 
  }
  
  input:checked + .slider:before {
    transform: translateX(20px); 
  }
  
  .slider.round {
    border-radius: 20px; 
  }
  
  .slider.round:before {
    border-radius: 50%; 
  }

.cost {
  position: relative;
}
.textcost {
  margin-top: 20px;
  margin-left: 20px;
}
.texts {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
}
.textstart {
  margin-left: 25px;
}
.textend {
  margin-left: 200px;
}

.range {
  width: 300px; 
  margin: 20px; 
}

.range__label {
  font-size: 16px;
  margin-bottom: 5px;
}


.inputs {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.rangemin,
.rangemax {
  appearance: none; 
  position: absolute;
  top: 0; 
  border: solid 1px white;
  width: 100%; 
  height: 20px; 
  border-radius: 10px;
  margin: 10px 0;
  outline: none;
  background: transparent;  
  pointer-events: none;  
}


.rangemin::-webkit-slider-thumb,
.rangemax::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 3; 
  pointer-events: auto; 
}



.spans {
  display: flex;
  margin-top: 50px;
}

.slider-valuemin,
.slider-valuemax {
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
}

.slider-valuemin {
  margin-left: 20px;
}

.slider-valuemax {
  margin-left: 180px;
}

.ant-slider-track {
  margin-top: 11px;
  position: absolute;
  height: 100%; 
  background-color: #ffa800; 
  border-radius: 10px;
  transition: all 0.2s linear; 
  
  height: 20px;
}

.totime,
.backtime {
  display: flex;
}

.totext,
.backtext {
  font-size: 20px;
  margin-top: 18px;
}
.imagebutton,
.backimagebutton {
  width: 22px;
  height: 22px;
  margin: 20px 35px 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.imagebutton {
  background-image: url(./image/Subtract.png);
}
.backimagebutton{ 
  background-image: url(./image/Subtract-back.png);
}


.btnshow, .btnclose,
.backbtnshow, .backbtnclose {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.btnshow, .btnclose {
  margin-left: 100px;
}
.backbtnshow, .backbtnclose {
  margin-left: 59px;
}
.btnshow, .backbtnshow {
  background-image: url(./image/show-up.png);
}
.btnclose, .backbtnclose {
  background-image: url(./image/show-down.png);
}


.blocktimeto, .blocktimetoBack,
.blocktimeEnd, .blocktimeEndBack {
  display: block;
}
.blocktimeEndBack, .blocktimetoBack { 
    display: block;
    height: auto; 
}


.textTimeTo,
.textTimeEnd, 
.textTimeToBack,
.textTimeEndBack {
  font-size: 20px;
  margin-left: 20px;
}
.textTimeEnd,.textTimeEndBack {
  margin-left: 120px;
  margin-top: 20px;
}

.timeTo,
.timeEnd,
.timeToBack,
.timeEndBack {
  position: relative;
  width: 260px;
  margin-top: 20px;
  margin-left: 20px;
}

.rangetimeminTo,
.rangetimemaxTo,
.rangetimeminToBack,
.rangetimemaxToBack {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 10px;
  border: solid 1px white;
  border-radius: 5px;
  outline: none;
  background: transparent;
  pointer-events: auto; 
}

.rangetimeminTo::-webkit-slider-thumb,
.rangetimemaxTo::-webkit-slider-thumb,
.rangetimeminToBack::-webkit-slider-thumb,
.rangetimemaxToBack::-webkit-slider-thumb  {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  position: relative;
  pointer-events: auto; 
  z-index: 3;
}

.spanstimeto,
.spanstimetoBack {
  display: flex;
  justify-content: space-between;
}

.slider-valuemintimeto,
.slider-valuemaxtimemin,
.slider-valuemintimetoBack,
.slider-valuemaxtimeminBack {
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 15px;
}

.ant-slider-tracktimeto,
.ant-slider-tracktimetoBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0%;
  background-color: #ffa800;
  border-radius: 5px;
  transition: all 0.2s linear;
  z-index: 2;
  pointer-events: none;
}

.timeEnd,
.timeEndBack  {
  position: relative;
  width: 260px;
  margin-top: 10px;
  margin-left: 20px;
}

.rangetimeminEnd,
.rangetimemaxEnd,
.rangetimeminEndBack,
.rangetimemaxEndBack {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 10px;
  border: solid 1px white;
  border-radius: 5px;
  outline: none;
  background: transparent;
  pointer-events: auto; 
}

.rangetimeminEnd::-webkit-slider-thumb,
.rangetimemaxEnd::-webkit-slider-thumb,
.rangetimeminEndBack::-webkit-slider-thumb,
.rangetimemaxEndBack::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  position: relative;
  pointer-events: auto; 
  z-index: 3;
}

.spanstimeEnd,
.spanstimeEndBack {
  display: flex;
  justify-content: space-between;
}

.slider-valuemintimeEnd,
.slider-valuemaxtimeminEnd,
.slider-valuemintimeEndBack,
.slider-valuemaxtimeminEndBack {
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 15px;
}

.ant-slider-tracktimeEnd,
.ant-slider-tracktimeEndBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0%;
  background-color: #ffa800;
  border-radius: 5px;
  transition: all 0.2s linear;
  z-index: 2;
  pointer-events: none;
}

