.blockabout {
    width: 100vw;
    height: 575px;
    display: inline-block;
    padding: 100px 0px 0px 200px;
    box-sizing: border-box;
    border-top: 10px solid #FFA800;
}

.contenttextabout {
    border-left: 8px solid  #FFA800;
    box-sizing: border-box;
}

.blockinform{
    width: 80%;
    max-width: 1320px;
    height: 258px;
    padding: 0px;
}
.inform {
    padding-left: 10px;
    font-size: 24px;
}