.howThisWorkBlock {
    width: 100vw;
    max-width: 1920px;
    height: 575px;
    background: url("./image/how.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blockTitle {
    display: flex;
    color: white;
}
.howThisWorkTitle {
    font-size: 36px;
    margin-left: 250px;
    margin-top: 50px;
}


.linkLeanMore {
    color: white;
    margin-left: 550px;
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-size: 24px;
    border-radius: 5px;
    width: 325px;
    height: 60px;
    &:hover{
        background-color: wheat;
    }
    &:active{
        background-color: white;
    }
}

.listaboutsrvice{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: white;
}
.serviselist{
    width: 25%;
    align-items: center;
    text-align: center;
}
.iconlist {
    width: 162px;
    height: 162px;
}
