.howThisWorkBlock {
    width: 100vw;
    max-width: 1920px;
    height: 575px;
    background: url("./image/how.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blockTitle {
    display: flex;
    color: white;
}
.howThisWorkTitle {
    font-size: 36px;
    margin-left: 250px;
    margin-top: 50px;
}


.linkLeanMore {
    color: white;
    margin-left: 750px;
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-size: 24px;
    border-radius: 5px;
    width: 325px;
    height: 60px;
}