
.bookingMenu {
    height: 827px;
    width: 100vw;
    max-width: 1920px;
    display: flex;
    max-height: 100%;
}

.slogan{
    height: 170px;
    width: 56%;
    color: #E5E5E5;
    font-size: 32px;
    text-align: justify;
    margin-left: 200px;
    margin-top: 400px;
}

.pslogan{
    font-weight: 100;
}