.footerblock {
    height: 520px;
    width: 100vw;
    max-width: 1920px;
    display: flex;
    background-color: #2d2b2f;
    color: white;
}

.contacts, .subscribe {
    margin-top: 50px;
    width: 50%;
    font-size: 30px;
}

.contacts {
    margin-left: 150px;
}
.telephone, .mail, .skype, .adress {
    position: relative; 
    z-index: 1; 
    margin-left: 70px;
    margin-top: 30px;
}
.contactsphone::before, .contactsmail::before,
.contactsskype::before, .contactsmap::before {

    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute; 
    left: -70px; 
    top: 0; 
    z-index: 0; 
  }

.contactsphone::before {   
     background-image: url("./png/phone.png");
}
.contactsmail::before {   
    background-image: url("./png/email.png");
   }
.contactsskype::before {   
    background-image: url("./png/skype.png");
   }
.contactsmap::before {   
    background-image: url("./png/vector.png");
   }

.subscribelinkstitle {
  padding-top: 20px;
}

.subscribelinkslist{
    display: flex;
    padding-left: 0px;
}

.subscribelogotext {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .subscribeform {
    margin-top: 30px;
  }
  
  .subscribeformtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #E5E5E5;
    margin-bottom: 15px;
  }
  
  .subscribeforminput {
    width: 447px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 3px;
    padding-left: 20px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }
  .subscribeforminput::placeholder {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #E5E5E5;
  }
  
  .subscribebtn {
    margin-left: 20px;
    background-color: inherit;
    width: 170px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E5E5E5;
    cursor: pointer;
    vertical-align: top;
  
    &:hover {
      background-color: #FFCA62;
      color: #2D2B2F;
      transition: color 0.3s linear;
      transition: background-color 0.3s ease-in-out;
    }
  
    &:focus {
      background-color: #ffffff;
      color: #2D2B2F;
    }
  }
.subscribeyoutube {
  padding-left: 0px;
}
  .subscribelinkyoutube {
    display: flex;
    background-repeat: no-repeat;
    height: 30px;
    width: 38px;
    background-image: url("./png/youtube.png");
  
    &:hover {
      background-image: url("./png/hover-youtube.png");
    }
  }
  
  .subscribelinklinkedin {
    display: flex;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-image: url("./png/linkedin.png");
  
    &:hover {
      background-image: url("./png/hover-linkedin.png");
    }
  }
  
  .subscribelinkgoogle {
    display: flex;
    background-repeat: no-repeat;
    height: 30px;
    width: 47px;
    background-image: url("./png/gplus.png");
  
    &:hover {
      background-image: url("./png/hover-gplus.png");
    }
  }
  
  .subscribelinkfacebook {
    display: flex;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    background-image: url("./png/facebook.png");
  
    &:hover {
      background-image: url("./png/hover-facebook.png");
    }
  }
  
  .subscribelinktwitter {
    display: flex;
    background-repeat: no-repeat;
    height: 30px;
    width: 37px;
    background-image: url("./png/twitter.png");
  
    &:hover {
      background-image: url("./png/hover-twitter.png");
    }
  }

  .footerline {
    display: flex;
    background-color: #2d2b2f;
    margin-top: auto;
    height: 94px;
    border-top: 1px solid #E5E5E5;
  }
  
  .footerlogo {
    margin-top: 22px;
    margin-left: 7%;
    cursor: pointer;
  }
  
  .footerlogotext {
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    color: #E5E5E5;
  
    &:hover {
      color: #FFA800;
      transition: color 0.3s linear;
    }
  }
  
  .footerup {
    width: 36px;
    height: 36px;
    margin-top: 25px;
    margin-left: 36%;
    background-image: url('./png/up.png');
    cursor: pointer;
  }
  
  .footerdate {
    margin-top: 28px;
    margin-left: 32%;
  }
  
  .footerdatetext {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    color: #E5E5E5;
  }
 
  .message, .messageerror {
    position: absolute;
    text-align: center;
    border-radius: 10px;
    width: 447px;
    border: solid 2px #FFFFFF;
  }
  .message {
    background-color: #FFA800;
    height: 60px;
  }
  .messageerror {
    background-color: rgba(246, 6, 6, 0.975);
    height: 70px;
  }