.logo {
    width: 1920px;
    height: 64px;
}

.logowords{
    padding-top: 15px;
    padding-left: 180px;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    color: #E5E5E5;
  
    &:hover {
      color: #FFA800;
      transition: color 0.3s linear;
    }
}